<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pages Add Profiles</title>
  </head>
  <body>
  <h1>Add Profiles</h1>
  <%if(dataError){%>
    <p><%= dataError%></p>
  <%}%>
  <table>
    <form action="/profiles/add" method="post">
      Username:<br>
      <input type="text" name="username" placeholder="username">
      <br>
      Password:<br>
      <input type="password" name="password" placeholder="password">
      <br>
      Name:<br>
      <select class="" name="idContacts">
      <% dataContacts.forEach(row => { %>
       <option value="<%=row.id%>"><%=row.name%></option>
      <% })%>
      </select>
      <input type="submit" value="Submit">
    </form>
  </table>
  </body>
</html>
