<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pages Add Groups</title>
  </head>
  <body>
  <h1>Add Groups</h1>
  <table>
    <form action="/groups/add" method="post">
      Name Groups:<br>
      <input type="text" name="name_of_group" placeholder="name groups">
      <br>
      <input type="submit" value="Submit">
    </form>
  </table>
  </body>
</html>
