<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pages Add Contacts</title>
  </head>
  <body>
  <h1>Add Contacts</h1>
  <table>
    <form action="/contacts/add" method="post">
      Name:<br>
      <input type="text" name="name" placeholder="name">
      <br>
      Company Names:<br>
      <input type="text" name="company" placeholder="company name">
      <br>
      Telp:<br>
      <input type="text" name="telp_number" placeholder="telp.no">
      <br>
      Email:<br>
      <input type="text" name="email" placeholder="email">
      <br>
      <input type="submit" value="Submit">
    </form>
  </table>
  </body>
</html>
