<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Data Addresses</h1>
      <a href = "/addresses">Back</a>
      <form class="" action="/addresses/edit/<%=data[0].id%>" method="POST">
        <input type="text" name="street" value="<%=data[0].street%>" placeholder="Street" required>
        <input type="text" name="city" value="<%=data[0].city%>" placeholder="City" required>
        <input type="text" name="zipcode" value="<%=data[0].zipcode%>" placeholder="ZIP Code" required>
        <input type="submit" value="SUBMIT">
      </form>
  </body>
</html>
