<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <title>Home</title>
</head>
<body>     
  <section class="section">
    <div class="container">
      <nav class="breadcrumb is-right" aria-label="breadcrumbs">
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href="contacts">Contacts</a></li>
          <li class="is-active"><a href="groups"  aria-current="page">Groups</a></li>
          <li><a href="addresses">Addresses</a></li>
          <li><a href="profiles">Profiles</a></li>
          <li><a href="addresses_with_contact">Address with Contacts</a></li>
        </ul>
      </nav>
      <br/>

      <div class="columns">
          <div class="column">
              <form action="/groups" 
              method="post" >
              <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="nama_group" placeholder="Masukkan Grup">
                    <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fa fa-check"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                    <p class="control">
                    <button class="button is-success">
                        Simpan
                    </button>
                  </p>
              </div>
          </div>
          <div class="column">
              <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nama Group</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let data = 0; data < dataJsonGroups.length; data++) { %>
                    <tr>
                      <td><%= dataJsonGroups[data].id %></td>
                      <td><%= dataJsonGroups[data].name_of_group %></td>
                      <td><a href='/groups/edit/<%= dataJsonGroups[data].id %>'>Edit</a></td>
                      <td><a href='/groups/delete/<%= dataJsonGroups[data].id %>'>Delete</a></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </form>
          </div>
        </div>
    </div>
  </section>
</body>
</html>