<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Data Groups</h1>
    <a href="/">Back To Home</a>
    <form class="" action="/groups" method="POST">
      <input type="text" name="name_of_group" placeholder="Name of Group" required>
      <input type="submit" value="SUBMIT">
    </form>
    <br>
    <table border = "1">
      <thead>
        <tr>
          <td>Id</td>
          <td>Name of Group</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(row => { %>
        <tr>
          <td><%=row.id%></td>
          <td><%=row.name_of_group%></td>
          <td>
            <a href = "/groups/edit/<%=row.id%>">Edit</a> |
            <a href = "/groups/delete/<%=row.id%>">Delete
          </td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </body>
</html>
