<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Page Groups</title>
  </head>
  <body>
    <tr>
      <h1>MENU</h1>
      <td><a href="/contacts">CONTACTS</a></td>
      <td><a href="/groups">GROUPS</a></td>
      <td><a href="/profiles">PROFILES</a></td>
      <td><a href="/addresses">ADDRESSES</a></td>
    </tr>
    <table border='1px'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Names Groups</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>
      <tbody>
        <%dataGroups.forEach(row=>{ %>
          <tr>
          <td><%= row.id%></td>
          <td><%= row.name_of_group%></td>
          <td><a href="/groups/add">Add</td>
          <td><a href="/groups/edit/<%=row.id%>">Edit</td>
          <td><a href="/groups/delete/<%=row.id%>">Delete</td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>
