<%- include('templates/header.ejs') %>
  <div id="index-container">
    <h1>Selamat Datang di <br>Express Contacts-Groups</h1>
    <p class = "main-tagline">
    Sebentuk residu dari usaha tanpa henti mempelajari pemrograman, khususnya expressJS framework, sqlite3 database, konsep MVC, CRUD, serta ORM-ORMan.
    </p>
  </div>
<%- include('templates/footer.ejs') %>