<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <title>Home</title>
</head>
<body>     
  <section class="section">
    <div class="container">
      <nav class="breadcrumb is-right" aria-label="breadcrumbs">
        <ul>
          <li class="is-active"><a href='/' aria-current="page">Home</a></li>
          <li><a href="contacts">Contacts</a></li>
          <li><a href="groups">Groups</a></li>
          <li><a href="addresses">Addresses</a></li>
          <li><a href="profiles">Profiles</a></li>
          <li><a href="addresses_with_contact">Address with Contacts</a></li>
        </ul>
      </nav>
      <br/>
      <!-- ------------- -->
      <div class="columns">
          <div class="column">
            First column
          </div>
          <div class="column">
            Second column
          </div>
        </div>
    </div>
  </section>
</body>
</html>