<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ini adalah Halaman Index</h1>
    <div class="">
      <a href="#"><button type="button" name="button">Go To Contacts</button></a>
      <a href="#"><button type="button" name="button">Go To Groups</button></a>
      <a href="#"><button type="button" name="button">Go To Addresses</button></a>
      <a href="#"><button type="button" name="button">Go To Profiles</button></a>
    </div>
  </body>
</html>
