<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to my homepages</title>
  </head>
  <body>
  <h1>Selamat Datang</h1>
  <td><a href="/contacts">CONTACTS</a></td>
  <td><a href="/groups">GROUPS</a></td>
  <td><a href="/profiles">PROFILES</a></td>
  <td><a href="/addresses">ADDRESSES</a></td>
  </body>
</html>
