<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>

      <ul>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/addresses">Addresses</a></li>
        <li><a href="/groups">Addresses</a></li>
      </ul>

  </body>
</html>
