<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if(dataError) { %>
      <p><%=dataError%></p>
      <%}%>

      <a href="/profiles">Back to profiles</a>
  </body>
</html>
