  <footer class="page-footer pink lighten-1">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text">Express Contacts-Groups</h5>
          <p class="grey-text text-lighten-4">Simple CRUD demo using expressJS and sqlite3. <span class = "copyleft"/></span> <a href="https://github.com/sirnobrain" target = "_blank">SRNBRN</a></p>
        </div>
      </div>
    </div>
  </footer>
  </div>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
</body>
</html>