<!DOCTYPE html>
<html>
<head>
	<title>Express Contacts-Groups</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="main-container">
  <nav>
    <div class="nav-wrapper pink lighten-1">
      <a href="/" class="brand-logo">Express Contacts-Groups</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/addresses">Address</a></li>
        <li><a href="/groups">Groups</a></li>
      </ul>
    </div>
  </nav>