<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ini Adalah Halaman Edit Group</h1>
  </body>
  <form class="" action="/groups/edit/<%= dataGroup.id %>" method="post">
    <input type="text" name="name_of_group" value="<%= dataGroup.name_of_group %>">
    <input type="submit" value="SUBMIT">
  </form>
</html>
