<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ini Adalah Halaman Add Contact</h1>
  </body>
  <form class="" action="/contacts/add" method="post">
    <input type="text" name="name" placeholder="Input Nama Disini">
    <input type="text" name="company" placeholder="Input Company Disini">
    <input type="text" name="telp" placeholder="Input Telp Disini">
    <input type="text" name="email" placeholder="Input Email Disini">
    <input type="submit" value="SUBMIT">
  </form>
</html>
